html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  height: 100%;
  width: 100%;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: PingFangSC-Medium, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}
a:active,
a:hover {
  outline-width: 0;
}

button {
  user-select: none;
}

ol, ul, li {
  list-style: none;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
}
li > ol {
  margin-bottom: calc(1.45rem / 2);
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
